In [13]:
import tushare as ts
print(ts.__version__)
df = ts.get_k_data('002743', ktype = '30', autype = 'qfq', start = '2018-01-01', end = '2018-06-20')
df1 = ts.get_k_data('002743', ktype = 'D', autype = 'qfq', start = '2018-01-01', end = '2018-06-20')

1.2.3

In [4]:
df1

           date   open  close   high    low    volume    code
0    2018-01-02  10.58  10.67  10.70  10.52   47177.0  002743
1    2018-01-03  10.79  11.42  11.67  10.72  193848.0  002743
2    2018-01-04  11.13  11.18  11.37  11.11  123139.0  002743
3    2018-01-05  11.11  11.16  11.24  11.01   71737.0  002743
4    2018-01-08  11.06  11.04  11.15  10.86   59108.0  002743
5    2018-01-09  11.05  10.90  11.17  10.89   47107.0  002743
6    2018-01-10  10.82  10.61  10.89  10.45   62874.0  002743
7    2018-01-11  10.63  10.64  10.69  10.45   41525.0  002743
8    2018-01-12  10.65  10.52  10.75  10.52   40542.0  002743
9    2018-01-15  10.43  10.12  10.47  10.11   59016.0  002743
10   2018-01-16  10.10  10.18  10.22  10.08   30117.0  002743
11   2018-01-17  10.34  10.31  10.39  10.14   35766.0  002743
12   2018-01-18  10.36  11.34  11.34  10.32   90016.0  002743
13   2018-01-19  11.68  11.58  12.22  11.40  341719.0  002743
14   2018-01-22  11.05  11.22  11.49  11.05  145053.0  002743
15   2018-01-23  11.02  10.95  11.06  10.81  115430.0  002743
16   2018-01-24  10.89  11.05  11.28  10.87   99102.0  002743
17   2018-01-25  11.00  10.90  11.12  10.88   72720.0  002743
18   2018-01-26  10.85  10.60  10.94  10.57   93699.0  002743
19   2018-01-29  10.56  10.68  10.84  10.51   64346.0  002743
20   2018-01-30  10.64  10.51  10.75  10.45   45723.0  002743
21   2018-01-31  10.42  10.22  10.42  10.11   59435.0  002743
22   2018-02-01  10.27   9.41  10.39   9.41   74789.0  002743
23   2018-02-02   9.51   9.13   9.51   8.54   61077.0  002743
24   2018-02-05   8.90   9.02   9.12   8.80   29623.0  002743
25   2018-02-06   8.82   8.12   8.91   8.12   75461.0  002743
26   2018-02-07   8.31   8.27   8.38   7.92   48744.0  002743
27   2018-02-08   8.34   8.43   8.44   8.24   29163.0  002743
28   2018-02-09   8.25   8.12   8.33   7.99   39451.0  002743
29   2018-02-12   8.07   8.32   8.33   8.07   27228.0  002743
..          ...    ...    ...    ...    ...       ...     ...
82   2018-05-09   8.83   8.83   8.85   8.73   24024.0  002743
83   2018-05-10   8.86   8.98   8.99   8.78   52371.0  002743
84   2018-05-11   8.98   8.73   8.98   8.72   32784.0  002743
85   2018-05-14   8.73   8.60   8.78   8.56   18401.0  002743
86   2018-05-15   8.60   8.73   8.73   8.54   20245.0  002743
87   2018-05-16   8.71   8.59   8.73   8.57   22164.0  002743
88   2018-05-17   8.59   8.59   8.62   8.50   19787.0  002743
89   2018-05-18   8.60   8.66   8.75   8.57   27336.0  002743
90   2018-05-21   8.69   8.85   8.86   8.69   32476.0  002743
91   2018-05-22   8.78   8.95   9.08   8.78   62278.0  002743
92   2018-05-23   8.95   8.75   8.98   8.72   38476.0  002743
93   2018-05-24   8.81   8.83   9.00   8.76   44588.0  002743
94   2018-05-25   8.74   8.86   9.00   8.74   32913.0  002743
95   2018-05-28   8.87   9.14   9.28   8.75   83301.0  002743
96   2018-05-29   9.07   9.07   9.17   8.85   70257.0  002743
97   2018-05-30   8.99   8.75   9.03   8.75   66204.0  002743
98   2018-05-31   8.62   8.50   8.85   8.30   68781.0  002743
99   2018-06-01   8.36   8.21   8.48   8.13   43759.0  002743
100  2018-06-04   8.33   8.18   8.33   8.15   20880.0  002743
101  2018-06-05   8.25   8.29   8.29   8.18   21828.0  002743
102  2018-06-06   8.27   8.28   8.35   8.22   22994.0  002743
103  2018-06-07   8.28   8.20   8.34   8.19   22599.0  002743
104  2018-06-08   8.21   8.07   8.21   8.01   25312.0  002743
105  2018-06-11   8.10   8.04   8.12   8.00   15144.0  002743
106  2018-06-12   8.01   8.11   8.14   7.93   22827.0  002743
107  2018-06-13   8.13   7.98   8.13   7.96   19390.0  002743
108  2018-06-14   7.96   8.00   8.05   7.96   14297.0  002743
109  2018-06-15   8.02   7.74   8.02   7.69   27094.0  002743
110  2018-06-19   7.58   6.97   7.58   6.97   41429.0  002743
111  2018-06-20   6.83   6.99   7.08   6.79   26469.0  002743

[112 rows x 7 columns]

In [14]:
import os
if os.path.exists('d:/002743_30.csv'):
        df.to_csv('d:002743_30.csv', mode='a', header=None)
else:
        df.to_csv('d:/002743_30.csv')
if os.path.exists('d:/002743_d.csv'):
        df1.to_csv('d:002743_d.csv', mode='a', header=None)
else:
        df1.to_csv('d:/002743_d.csv')